@charset "UTF-8";

@import url(https://db.onlinewebfonts.com/c/6cbb7ca3b9dee526ede81a12a8a08b00?family=Mixed+Breed+Bold);

*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    background: url("../assets/patternNavbar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75px;
    background-position-y: -500px;

    font-family: 'Mixed Breed Bold';
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 350px;
}

.navbar a {
    text-decoration: none;
    color: #ffff;
    margin: 0px 15px 0px 15px;
    font-size: 1.2rem;
}

.user a {
    display: inline-block;
    background-color: #B11313;
    box-shadow: 4px 5px black;
    padding: 5px 15px;
    transform: skew(-15deg);
    transition-duration: 0.3s;
}

.user a:hover {
    transform: skew(-25deg) scale(1.06);
    background-color: #850f0f;
}

.logo {
    height: 50px;
}